@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

html,
body,
#__next {
  margin: 0;
  padding: 0;
  height: 100%;
  background: transparent;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
}

:root {
  --font-playfair: "Playfair Display", serif;
  --font-montserrat: "Montserrat", sans-serif;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Playfair Display", serif;
}
